/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: beige;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

header {
    background: url('../img/banner2.jpg');
}

header h1 {
    font-family: 'Comic Sans MS';
    font-size: 3em;
    font-weight: normal;
}

#titulo {
    display: inline-block;
}

#logo, header h1 {
    display: inline-block;
    margin-bottom: 0px;
    height: 140px;
}
#logo {
    width: 180px;   /* Ajusta el ancho */
    height: 180px;  /* Ajusta la altura */
}


/* Menú de navegación */
nav {
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: sienna;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: aquamarine;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: brown;
    border-bottom: 3px solid rgb(8, 91, 194);
}

/* Imagen principal dentro de la sección */
img {
    height: 250px; 
    width: 100%;  
    object-fit: cover; 
}

/* Estilos del artículo principal */
article {
    padding: 10px;
}

/* Sección principal (Introducción de IA) */
section {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 70%; 
}

/* Estilos del aside (Perfil del alumno) */
aside {
    padding: 5px;
    font-style: italic;
    float: right;
    width: 250px; 
    border: 2px solid; 
}

/* Footer */
footer {
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    border-top: 2px solid rgb(19, 110, 238);
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 30px;
}
